# SPDX-License-Identifier: MIT-0
---
# handlers file for roles/ssh_hardening
- name: Restart SSH
  ansible.builtin.service:
    name: ssh
    state: restarted

- name: Restart fail2ban
  ansible.builtin.service:
    name: fail2ban
    state: restarted
    enabled: true
  when: not ansible_check_mode
