#SPDX-License-Identifier: MIT-0
---
# handlers file for roles/ssh_hardening
- name: Restart SSH
  service:
    name: ssh
    state: restarted

- name: Restart fail2ban
  service:
    name: fail2ban
    state: restarted
    enabled: true
