#SPDX-License-Identifier: MIT-0
---
# tasks file for roles/firewall
- name: Install ufw
  apt:
    name: ufw
    state: present

- name: Set default incoming policy
  ufw:
    direction: incoming
    policy: deny

- name: Set default outgoing policy
  ufw:
    direction: outgoing
    policy: allow

- name: Allow SSH
  ufw:
    rule: allow
    port: "2222"
    proto: tcp

- name: Enable firewall
  ufw:
    state: enabled
