# SPDX-License-Identifier: MIT-0
---
# tasks file for roles/ssh_hardening
- name: Install fail2ban
  ansible.builtin.apt:
    name: fail2ban
    state: present
    update_cache: true

- name: Configure SSH daemon
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  loop:
    - { regexp: '^#?Port', line: 'Port 2222' }
    - { regexp: '^#?PermitRootLogin', line: 'PermitRootLogin no' }
    - { regexp: '^#?PasswordAuthentication', line: 'PasswordAuthentication no' }
    - { regexp: '^#?MaxAuthTries', line: 'MaxAuthTries 3' }
    - { regexp: '^#?ClientAliveInterval', line: 'ClientAliveInterval 300' }
    - { regexp: '^#?ClientAliveCountMax', line: 'ClientAliveCountMax 2' }
  notify: Restart SSH

- name: Enable fail2ban ssh jail
  ansible.builtin.copy:
    dest: /etc/fail2ban/jail.local
    mode: "0644"
    content: |
      [DEFAULT]
      bantime = 1h
      findtime = 10m
      maxretry = 3
      backend = systemd

      [sshd]
      enabled = true
      port = 2222
  notify: Restart fail2ban
